extends auth

block main
  center
    h1= 'Reset Password'

block content
  form.form-signin(action="/users/resetpassword", method="post", role="form")
    input(type="hidden", name="_csrf", value=csrf_token)
    input(type="hidden" name="_id", value=user._id)
    .form-label-group
      input#password.form-control(type='password' name='currentpassword' placeholder='Password' required='')
      label(for='password') Current Password
    .form-label-group
      input#password.form-control(type='password' name='newpassword' placeholder='Password' required='')
      label(for='password') New Password
    .form-label-group
      input#confirmpassword.form-control(type='password' name='confirmpassword' placeholder='Password' required='')
      label(for='confirmpassword') Confirm Password
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
